#id{
    animation-duration: 2000px;
}
ion-content.background{
    --ion-background-color : #ffffff;
  }
#carta{
    background-color: #334555;
}
#user_str{
    --opacity: #ffffff;
}  
#letras{
  color : #ffffff  
}