<ion-header>
  <ion-toolbar>

    <ion-button size="small" slot="start" mode="md">
      <ion-back-button (click)="home()"></ion-back-button>
    </ion-button>

    <ion-title>TeLlevo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-label>Nombre | Número | Precio</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Alvaro | 111222333 | $2000</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Vicente | 33322211 | $10000</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Joaquin | 123123123 | $1000</ion-label>
    </ion-item>
</ion-list>

</ion-content>
<div>
  <ion-footer class=" ion-text-center">App desarrollada por DuocUc</ion-footer>
  </div>
